package templates

import "encore.app/authentication"
import "net/http"

templ Index(user *authentication.User, r *http.Request) {
	<div class="glow-text">
		<p>You can find the firestorm compiler <a href="https://github.com/Glowman554/FireStorm">here</a></p>
	</div>
}
