package templates

type LayoutProps struct {
	Title string
}

templ Layout(props LayoutProps, childs templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>{ props.Title }</title>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://unpkg.com/htmx.org@1.9.12"></script>
			<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
		</head>
		<body>
			@childs
		</body>
	</html>
}
